<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.breadcrumbsapp">

    <application
        android:name=".ApplicationClass"
        android:allowBackup="false"
        android:icon="@mipmap/breadcrumbs_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/breadcrumbs_app_icon_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/SplashTheme"
        android:usesCleartextTraffic="true"
        tools:overrideLibrary="androidx.camera.lifecycle">

      <!--  <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>-->

        <activity android:name=".MainActivity"/>
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.LoginScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".view.TutorialActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".view.WebViewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".view.NewFriendRequestAct"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".view.SearchFriendsListAct"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <activity
            android:name=".view.arcore.ARCoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".view.arcore.SampleARClass"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.arcore.ARImagePostScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.HowToPlayActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".view.SettingsScreenAct"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.UserInformationActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.FAQActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.SettingsWebViewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.rewards.RewardsScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".view.rewards.rewards_details.RewardsDetailsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.TrailsDetailsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.rewards.rewards_details.RewardsRedeemDetailsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.DiscoverScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.FeedPostActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.LeaderBoardActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.CreatorPostActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.profile.ProfileScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.profile.FriendProfileScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.MyFriendsListScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.profile.ProfileEditActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.TrailScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.DiscoverDetailsScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.ChallengeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.MyAchievementScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity
            android:name=".view.MyAchievementScreenDetailsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".view.QuizChallengeQuestionActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".view.profile.camera.ProfileScreenMainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />


        <activity
            android:name=".view.qrcode.DecoderActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".camerafiles.activity.CameraActivity"
            android:theme="@style/SplashTheme" />
        <activity android:name=".camerafiles.activity.SelfieChallengeImagePostActivity" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".camerafiles.fragments.MainActivity"
            android:theme="@style/SplashTheme" />


        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAdQlcPAwlydR_A_tTfoBQWx_a3RjdogjI" />
        <meta-data
            android:name="firebase_performance_collection_enabled"
            android:value="true" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" /> <!-- Foreground services in Q+ require type. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

        <service
            android:name=".service.LocationUpdatesService"
            android:enabled="true"
            android:exported="true" />
    </application>

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <queries>
        <intent>
            <action android:name="android.intent.action.PICK" />
            <data android:mimeType="vnd.android.cursor.dir/image" />
        </intent>
    </queries>


    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <queries>
        <package android:name="com.facebook.katana" />
    </queries>



    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Required for foreground services on P+. -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.example.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />


    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"
        android:minSdkVersion="30" />

</manifest>