<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.breadcrumbsapp">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.example.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- Required for foreground services on P+. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <uses-feature android:name="android.hardware.camera.flash" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <queries>
        <package android:name="com.facebook.katana" />
    </queries>

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <application
        android:name=".ApplicationClass"
        android:allowBackup="false"
        android:icon="@mipmap/breadcrumbs_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/breadcrumbs_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme"
        android:usesCleartextTraffic="true"
        tools:overrideLibrary="androidx.camera.lifecycle">
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAdQlcPAwlydR_A_tTfoBQWx_a3RjdogjI" />


        <meta-data
            android:name="firebase_performance_collection_enabled"
            android:value="true" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <activity android:name="com.breadcrumbsapp.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.LoginScreen" />
        <activity android:name=".view.TutorialActivity" />
        <activity android:name=".view.WebViewActivity" />


        <activity
            android:name=".ScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".ARCoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".view.arcore.ArCoreUpdateAct"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.arcore.SampleARClass"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.arcore.ARImagePostScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".view.HowToPlayActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".view.SettingsScreenAct"
            android:theme="@style/SplashTheme" />

        <activity
            android:name=".view.rewards.RewardsScreenActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".view.rewards.rewards_details.RewardsDetailsActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".view.TrailsDetailsActivity"
            android:theme="@style/SplashTheme" />


        <activity
            android:name=".view.rewards.rewards_details.RewardsRedeemDetailsActivity"
            android:theme="@style/SplashTheme" />

        <activity
            android:name=".view.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.DiscoverScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.FeedPostActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".view.LeaderBoardActivity"
            android:theme="@style/SplashTheme" />

        <activity
            android:name=".view.TrailScreenActivity"
            android:theme="@style/SplashTheme" />


        <activity
            android:name=".view.DiscoverDetailsScreenActivity"
            android:theme="@style/SplashTheme" />

        <activity
            android:name="com.breadcrumbsapp.view.qrcode.DecoderActivity"
            android:theme="@style/SplashTheme" />

        <activity
            android:name=".view.ChallengeActivity"
            android:theme="@style/SplashTheme" />

        <activity
            android:name=".camerafiles.activity.CameraActivity"
            android:theme="@style/SplashTheme" />

        <activity android:name=".camerafiles.activity.selfieChallengeImagePostActivity" />
        <activity android:name=".view.QuizChallengeQuestionActivity" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />


        <activity
            android:name="com.breadcrumbsapp.camerafiles.fragments.MainActivity"
            android:theme="@style/SplashTheme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <!-- Foreground services in Q+ require type. -->
        <service
            android:name=".service.LocationUpdatesService"
            android:enabled="true"
            android:exported="true" />


    </application>

</manifest>